@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#score, #bestScore {
    position: fixed;
    font-size: 24px;
}

#score {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}

#bestScore {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: blue;
}

#retryButton {
    font-size: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30%;
}